# Built objects and libraries
*.o
*.so

# Standard AFL build
/afl-analyze
/afl-as
/afl-clang
/afl-clang++
/afl-fuzz
/afl-g++
/afl-gcc
/afl-gotcpu
/afl-showmap
/afl-tmin
/as

# LLVM mode
/afl-clang-fast
/afl-clang-fast++

# QEMU mode
/afl-qemu-trace
/qemu_mode/qemu-*
